@use '../theme' as thm;
@use 'sass:map';

//***************************
//* .HEADER-CONTAINER
//***************************
.header-container {
    @include thm.mx-flexbox($al-items: center, $gap: 1rem);
    color: map.get(thm.$clr, 'brand-100');

    @at-root {
        .brand-logotype > svg,
        .brand-letters > svg { fill: currentColor; }
        
        .brand-logotype > svg {
            display: block; 
            inline-size: 3.5rem;
            block-size: 3.5rem;
        }
        
        .brand-letters > svg { 
            display: none; 
            @include thm.mx-query($device: 'tablet', $size: 'sm') {
                display: initial;
                inline-size: 6.3rem;
                block-size: 1.7rem;
            }
        }
    }
}