@use '../theme' as thm;
@use 'sass:map';

//***************************
//* .FORM-CONTAINER
//***************************
.form-container { position: relative; }

//***************************
//* .RESERVATIONS-CONTAINER
//***************************
.reservations-container {
    margin-inline: auto;
    inline-size: 100%;
    padding-block-start: 1.4rem;
    border-radius: 1rem;
    background-color: map.get(thm.$clr, 'white');
    @include thm.mx-query($device: 'tablet', $size: 'sm') {
        margin: 
        {
            block-start: 4rem;
            inline: 0;
        }
        padding: 3.2rem;
        inline-size: 46rem;
        box-shadow: 0 .6rem 2rem rgb(0 0 0 / 20%);
    }        
}

//***************************
//* .RESERVATIONS-INFO
//***************************
.reservations-info { 
    margin-block-end: 1.6rem; 

    @at-root {
        .info__header > h1 {
            margin-block: 0 .8rem;
            font: 
            {
                size: 2.2rem;
                weight: 700;
            }
            color: map.get(thm.$clr, 'gray-400');
            @include thm.mx-query($device: 'tablet', $size: 'sm') {
                padding-inline-end: 5rem;
                font-size: 3.2rem;
            }
        }
        
        .info__content > p {
            font-size: 1.6rem;
            color: map.get(thm.$clr, 'gray-200');
        }
    }
}
          
//***************************
//* .RESERVATIONS-FORM
//***************************
.reservations-form form {
    @include thm.mx-grid($rows: repeat(4, 1fr), $gap: .8rem);

    @at-root {
        .form__input {
            box-shadow: 0 0 0 .1rem inset map.get(thm.$clr, 'gray-100');
            border-radius: 1rem;
            padding: .8rem 1.6rem;
        }

        .form__input:active { box-shadow: 0 0 0 .2rem inset map.get(thm.$clr, 'gray-400'); }

        .form__input label {
            margin-block-end: .3rem;
            font: 
            {
                size: 1rem;
                weight: 700;
            }
            text-transform: uppercase;
        }

        .form__input input { color: map.get(thm.$clr, 'gray-200'); }

        .form__input input::placeholder,
        .form__input--dates input {
            font: 
            {
                size: 1.6rem;
                weight: 400;
            }
        }
    }
}

//***************************
//* .FORM__INPUT--LOCATION
//***************************
.form__input--location {
    @include thm.mx-flexbox($dir: column);

    label { margin-block-end: .6rem; }
    
    input::placeholder { 
        color: map.get(thm.$clr, 'gray-400'); 
    }
}

//***************************
//* .FORM__INPUT--DATES
//***************************
.form__input--dates {
    @include thm.mx-grid($cols: repeat(2, 1fr));

    input { inline-size: 100%; }

    > div:nth-child(2) {
        padding-inline-start: 1rem;
        border-inline-start: .1rem solid map.get(thm.$clr, 'gray-100');
    }

    [for*="-date"] { display: block; }

    @at-root {
        .form__arrival {
            input { inline-size: calc(100% - 1rem); }
        }
    }
}

//***************************
//* .FORM__INPUT--GUESTS
//***************************
.form__input--guests {
    @include thm.mx-grid($cols: repeat(2, 1fr));

    > div {
        @include thm.mx-flexbox($dir: column);
    }

    @at-root {
        .form__adults { padding-inline-end: 1rem; }

        .form__children {
            padding-inline-start: 1rem;
            border-inline-start: .1rem solid map.get(thm.$clr, 'gray-100');
        }
    }
}

//***************************
//* .FORM__INPUT--SEARCH
//***************************
.form__input--search {
    position: relative;
    color: map.get(thm.$clr, 'white');

    svg {
        position: absolute;
        inset: 
        {
            block-start: 47.5%;
            inline-start: 50%;
        }
        transform: translateX(-400%);
        display: block;
        inline-size: 1.2rem;
        block-size: 1.2rem;
        fill: currentColor;
    }

    [type="button"] {
        margin-block-start: 1rem;
        inline-size: 100%;
        block-size: 4.8rem;
        font-weight: bold;
        border: none;
        border-radius: 1rem;
        background-image: linear-gradient(to right, map.get(thm.$clr, 'brand-200') 0%, map.get(thm.$clr, 'brand-300') 100%);
        color: currentColor;
    }
}