/* ==== FONTS ==== */
@font-face {
    font-family: 'SF Pro Display Medium';
    src: 
        local('SF Pro Display Medium'),
        local('SF Pro Medium'),
        url('https://said-alrove.github.io/fonts-apple-developer/assets/fonts/sf-pro-display-medium.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text Regular';
    src: 
        local('SF Pro Text Regular'),
        local('SF Pro Regular'),
        url('https://said-alrove.github.io/fonts-apple-developer/assets/fonts/sf-pro-text-regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* ==== VARIABLES ==== */
:root {
    /* ==== COLORS ==== */
    --clr-lt-blue-100: hsl(210deg, 96%, 69%);
    --clr-dk-blue-100: hsl(210deg, 100%, 40%);
    --clr-dk-blue-200: hsl(210deg, 100%, 45%);
    --clr-lt-gray-100: hsl(0deg, 0%, 95%);
    --clr-dk-gray-100: hsl(0%, 0%, 35%);
    --clr-dk-gray-200: hsl(240deg, 3%, 12%);
    --clr-white: hsl(360deg, 100%, 100%);
    --clr-black: hsl(0deg, 0%, 0%);
    /* ==== FONTS ==== */
    --ff-main: 'SF Pro Display Medium';
    --ff-normal: 'SF Pro Text Regular';
}

/* ==== GLOBAL ==== */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body { font-size: 16px; }

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

/* ==== TYPOGRAHPY ==== */
.fonts__header > h1,
.item__header > h2 { 
    margin: 0;
    font-family: var(--ff-main);
    letter-spacing: .012em;
    color: var(--clr-dk-gray-200); 
}

.fonts__header > h1 { font-size: 2.8rem; }

.item__header > h2 { font-size: 2.2rem; }

@media (min-width: 1080px) {
    .fonts__header > h1 { font-size: 4.4rem; }

    .item__header > h2 { font-size: 2.4rem; }
}

.item__content > p { 
    margin-block: 1.2em 5.2rem;
    font-family: var(--ff-normal);
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -.016em;
    color: var(--clr-dk-gray-100); 
}

/* ==== UTILITIES ==== */ 
.container { background-color: var(--clr-lt-gray-100); }

.btn {
    --ly-inset: 2.4rem;
    position: absolute;
    inset-inline-start: var(--ly-inset);
    inset-block-end: var(--ly-inset);
    display: inline-block;
    padding: .5rem 1.2rem;
    font-family: var(--ff-main);
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: -.01em;
    border-radius: 1.2rem;
    background-color: var(--clr-dk-blue-100);
    color: var(--clr-white);
}

.btn:hover { background-color: var(--clr-dk-blue-200); }

.btn:active { border: .4rem solid var(--clr-lt-blue-100); }

/* ==== FONTS-CONTAINER ==== */
.fonts-container {
    margin-inline: auto;
    inline-size: clamp(30rem, 87.5%, 100rem);
    padding-block: 3.4rem 4.2rem;
}

.fonts__header { padding-block: 1.6rem; }

.fonts__items { 
    display: flex;
    flex-wrap: wrap;
    margin-block: 1rem;
}

.fonts__item {
    position: relative;
    margin-block: 2rem;
    padding: 2.2rem 2.8rem 2.8rem;
    border-radius: 1rem;
    background-color: var(--clr-white);
}

@media (min-width: 682px) {
    .fonts__items { gap: 2rem }

    .fonts__item {
        flex-basis: calc(50% - 1rem);
        margin-block: 0;
    }
}